<h1>Movie List</h1>
<label for="filter"></label>
<input id="filter" type="text" [(ngModel)] = "text" (input)="filter()" placeholder="Filter by director or title">
<label for="sortBy">Sort By:</label>
<select  id="sortBy" [(ngModel)]="sortBy" (change)="sortMovies()" >
    <option value="title">Title</option>
    <option value="director">Director</option>
    <option value="year">Year</option>
</select>
<button (click)="Toggle()" >Toggle {{this.isAscending? 'Ascending' : 'Descending'}} </button>
<button type="submit" routerLink="/add" >Add Movie</button>

<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Director</th>
        <th>Year</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let movie of filteredMovies" >
        <td>{{movie.id}}</td>
        <td>{{movie.title}}</td>
        <td>{{movie.director}}</td>
        <td>{{movie.year}}</td>
        <td>
            <button type="submit" (click)="editFunc(movie.id)" >Edit</button>
            <button type="submit" (click)="deleteFunc(movie.id)"  >Delete</button>
        </td>
    </tr>
</table>